$text900: #1F2937;
$white: #fff;
$gray100: #F9FAFB;
$gray150: #EFF1F3;
$gray200: #BFBFBF;
$gray300: #E5E7EB;
$gray400: #D1D5DB;
$gray500: #9CA3AF;
$gray600: #6B7280;
$gray800: #374151;
$primary: #AEF378;
$secondary: #476EF9;
$success100: #EDF7F1;
$success900: #25A254;
